# Code-Sentinal Frontend Configuration

# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:8000

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=dGqshtSyx3VK27MyEO7WgbbhTlbvTuRR1sp8uWG/O9Q=

# GitHub OAuth (same GitHub App)
GITHUB_CLIENT_ID=Iv23liHM2oMmjvgJWyLL
GITHUB_CLIENT_SECRET=34323534e1764ff4eb7e98dd059d702b9171d2e8

# GitHub App install URL
NEXT_PUBLIC_GITHUB_APP_URL=https://github.com/apps/code-sentinal/installations/new
